[Unit]
Description=ZeroAuth Bluetooth Agent

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/alarm/simple-agent.py
